
@{
    ViewBag.Title = "Countries List";
}

<h2>Countries List</h2>
<ul>
    @*using ViewBag*@
    @*@foreach (string strCountry in ViewBag.Countries)*@
    @*using viewData*@
    @foreach (string strCountry in (List<string>) ViewData["Countries"])
    {
        <li>@strCountry</li>
    }
</ul>

